# virtual environments
.venv
Project1/src/models
Project2/src/models
Project3/src/models
uv.exe
uvw.exe
uvx.exe
uv.lock
data
.vscode
Project1/src/PartB/models
Project1/src/PartB/pictures

# cache
__pycache__

#bash scripts
bash_scripts/
bash_outputs/
bootstrap/